{{- $page := .Page -}}{{- $items := slice -}}
{{- if .Settings.link_graph -}}
  {{- $relations := partialCached "discovery/relations.html" .Page "relations" -}}
  {{- $items = index (index $relations .Name) $page.RelPermalink | default slice -}}
{{- end -}}
{{- with $items -}}
<section class="footer-section" aria-labelledby="{{ $.Instance }}-heading">
  <h2 id="{{ $.Instance }}-heading" class="footer-heading">{{ T $.Name }}</h2>
  <ul class="reference-list" data-content-relations="{{ $.Name }}">{{ range sort . "url" }}<li><a href="{{ .url }}"{{ if ne .language $page.Language.Lang }} hreflang="{{ .language }}"{{ end }}>{{ .title }}</a></li>{{ end }}</ul>
</section>
{{- end -}}
