{{- $ctx := . -}}
{{- $links := slice -}}
{{- range .Settings.taxonomy_navigation -}}{{- with $ctx.Page.Site.GetPage (printf "/%s" .) -}}{{- if eq .Kind "taxonomy" -}}{{- $links = $links | append . -}}{{- end -}}{{- end -}}{{- end -}}
{{- with $links -}}<nav class="taxonomy-navigation" aria-label="{{ T "all_content" }}"><h2 class="nav-heading">{{ T "all_content" }}</h2><ul>{{ range . }}<li><a href="{{ .RelPermalink }}"{{ if eq . $ctx.Page }} aria-current="page"{{ else if .IsAncestor $ctx.Page }} aria-current="location"{{ end }}>{{ if $ctx.Settings.icons }}{{ partial "sidera/icon.html" "tag" }}{{ end }}{{ if in (slice "tags" "categories" "authors" "series" "preset") .Data.Plural }}{{ T .Data.Plural }}{{ else }}{{ .LinkTitle }}{{ end }}</a></li>{{ end }}</ul></nav>{{- end -}}
