{{- $page := .Page -}}{{- $owner := .Owner -}}{{- $s := .Settings -}}{{- $ctx := . -}}
  {{- if $page.Store.Get "sidera-body" -}}
    {{- $toc := partial "sidera/toc-markup.html" $page -}}
    {{- if strings.Contains $toc "<a " -}}
    <details class="article-toc" open data-responsive-toc><summary id="toc-heading-{{ .IDScope }}"><span>{{ T "on_this_page" }}</span>{{ if $s.icons }}<span class="toc-toggle" aria-hidden="true">{{ partial "sidera/icon.html" "sidebar-right" }}</span>{{ end }}</summary>
      <div class="toc-body">{{ $toc | replaceRE `<nav id="TableOfContents">` (printf `<nav id="TableOfContents-%s" data-toc aria-labelledby="toc-heading-%s">` .IDScope .IDScope) | safeHTML }}</div>
    </details>
    <div class="toc-footer"><a class="toc-top" href="#main">{{ if $s.icons }}{{ partial "sidera/icon.html" "up" }}{{ end }}{{ T "back_to_top" }}</a></div>
  {{- end -}}
  {{- end -}}
