{{- $modelValid := partialCached "model/validate.html" . "site" -}}
{{- $listsValid := partialCached "lists/validate.html" . "site" -}}
{{- $valid := partialCached "tags/validate.html" . "site" -}}
<!doctype html>
<html lang="{{ site.Language.Locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="dark">
  <title>{{ .Title }} | {{ site.Title }}</title>
  {{ $appearance := resources.Get "js/appearance.js" | minify }}
  <script>{{ $appearance.Content | safeJS }}</script>
  {{ $css := resources.Get "css/sidera.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
  {{ $js := resources.Get "js/navigation.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ partial "sidera/head-extra.html" (dict "Page" . "Owner" (partial "collection-owner.html" .) "Region" "head" "Settings" (partialCached "sidera/settings.html" . .Path)) }}
</head>
<body>
  <a class="skip-link" href="#main">{{ T "skip_content" }}</a>
  {{ block "main" . }}{{ end }}
</body>
</html>
