{{- $s := .Settings -}}{{- $page := .Page -}}{{- $article := eq .Region "article-footer" -}}
{{- if eq .Name "terms" -}}
  {{- partial "sidera/article-terms.html" (merge . (dict "Prefix" "")) -}}
{{- else if eq .Name "authors" -}}
  {{- partial "sidera/article-authors.html" (merge . (dict "Prefix" "footer-")) -}}
{{- else if eq .Name "series" -}}
  {{- partial "series/navigation.html" $page -}}
{{- else if eq .Name "meta" -}}
  {{- if and $s.show_updated (not $page.Lastmod.IsZero) -}}<p class="footer-meta">{{ partial "date.html" (dict "date" $page.Lastmod "kind" "updated") }}</p>{{- end -}}
{{- else if eq .Name "text" -}}
  {{- $text := $s.footer_text -}}{{- if $article -}}{{- $text = $s.article_text -}}{{- end -}}
  {{- with $text -}}<div class="authored-text">{{ $page.RenderString (dict "display" "block") . }}</div>{{- end -}}
{{- else if eq .Name "links" -}}
  {{- $menu := $s.footer_menu -}}{{- if $article -}}{{- $menu = $s.article_links_menu -}}{{- end -}}
  {{- with $menu -}}{{- partial "sidera/menu.html" (merge $ (dict "Name" .)) -}}{{- end -}}
{{- else if eq .Name "credit" -}}
  <p class="theme-credit">{{ T "built_with" }}</p>
{{- end -}}
