{{- $s := .Settings -}}{{- $page := .Page -}}{{- $article := eq .Region "article-footer" -}}
{{- if eq .Name "terms" -}}
  {{- partial "sidera/article-terms.html" (merge . (dict "Prefix" .InstancePrefix)) -}}
{{- else if eq .Name "authors" -}}
  {{- partial "sidera/footer-authors.html" . -}}
{{- else if in (slice "references" "license" "share") .Name -}}
  {{- partial (printf "sidera/footer-%s.html" .Name) . -}}
{{- else if eq .Name "series" -}}
  {{- partial "series/navigation.html" $page -}}
{{- else if eq .Name "meta" -}}
  {{- if and $s.show_updated (not $page.Lastmod.IsZero) -}}<p class="footer-meta">{{ partial "date.html" (dict "date" $page.Lastmod "kind" "updated") }}</p>{{- end -}}
{{- else if eq .Name "text" -}}
  {{- $text := $s.footer_text -}}{{- if $article -}}{{- $text = $s.article_text -}}{{- end -}}
  {{- partial "sidera/text-block.html" (merge . (dict "Title" .Config.title "Text" $text)) -}}
{{- else if eq .Name "links" -}}
  {{- $menu := $s.footer_menu -}}{{- if $article -}}{{- $menu = $s.article_links_menu -}}{{- end -}}
  {{- with $menu -}}{{- partial "sidera/menu.html" (merge $ (dict "Name" .)) -}}{{- end -}}
{{- else if eq .Name "credit" -}}
  <div class="authored-text theme-credit">{{ $page.RenderString (dict "display" "block") (T "built_with") }}</div>
{{- end -}}
