{{- $ctx := . -}}
{{- $counts := dict -}}
{{- range index .Settings .Region -}}
  {{- $instance := partial "sidera/instance.html" (dict "Entry" . "Page" $ctx.Page "Owner" $ctx.Owner "Region" $ctx.Region "Settings" $ctx.Settings) -}}
  {{- $name := $instance.Name -}}{{- $ordinal := add 1 (index $counts $name | default 0) -}}{{- $counts = merge $counts (dict $name $ordinal) -}}
  {{- $suffix := "" -}}{{- if gt $ordinal 1 -}}{{- $suffix = printf "-%d" $ordinal -}}{{- end -}}
  {{- $instance = merge $instance (dict "HasComments" $ctx.HasComments "IDScope" (printf "%s%s" $ctx.Region $suffix) "IDSuffix" $suffix "Instance" (printf "%s-%s-%d" $ctx.Region $name $ordinal)) -}}
  {{- $content := partial "sidera/component.html" $instance -}}
  {{- if strings.TrimSpace $content -}}<div class="region-component" data-component="{{ $name }}" data-instance="{{ $instance.Instance }}">{{ $content }}</div>{{- end -}}
{{- end -}}
{{- if index .Settings .Region -}}
  {{- if eq .Region "left" -}}{{- partial "sidera/left-extra.html" . -}}{{- else if eq .Region "right" -}}{{- partial "sidera/right-extra.html" . -}}{{- else if eq .Region "top" -}}{{- partial "sidera/top-extra.html" . -}}{{- end -}}
{{- end -}}
